* {
  margin: 0px;
  padding: 0px;
}

h1 {
  padding: 20px 0px;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  padding: 5px 10px;
}
.cardDiv {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}
