body {
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-header {
  width: 420px;
  margin: 0 auto;
  color: white;
}

.inputDiv {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
